<h3><%= @instrument.name %></h3>
<h4><%= @instrument.classification %></h4>
<h4>Artists who play this instrument:</h4>
<% @instrument.artists.each do |artist| %>
  <%= link_to artist.name, artist_path(artist) %>
<% end %>
